# 将元组 (1,2,3) 和集合 {4,5,6} 合并成一个列表。

In [26]:
list((1,2,3))+list({4,5,6})

[1, 2, 3, 4, 5, 6]
None

In [27]:
a = list((1,2,3))
a.extend(list({4,5,6}))
print(a)

[1, 2, 3, 4, 5, 6]

# 在列表 [1,2,3,4,5,6] 首尾分别添加整型元素 7 和 0。

In [4]:
a = [1,2,3,4,5,6]
a.insert(0,7)
a.append(0)
print(a)

[7, 1, 2, 3, 4, 5, 6, 0]

# 反转列表 [0,1,2,3,4,5,6,7]

In [10]:
a = [0,1,2,3,4,5,6,7]
b = a[::-1]
print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1, 0]

In [13]:
a = [0,1,2,3,4,5,6,7]
b = reversed(a)
print(list(b))

[7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
a = [0,1,2,3,4,5,6,7]
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 1, 0]

# 反转列表 [0,1,2,3,4,5,6,7] 后给出中元素 5 的索引号。

In [20]:
a = [0,1,2,3,4,5,6,7]
a.reverse()
print(a.index(5))

2

# 分别统计列表 [True,False,0,1,2] 中 True,False,0,1,2的元素个数，发现了什么？

In [21]:
a = [True, False, 0, 1, 2]
print(a.count(True))
print(a.count(False))
print(a.count(0))
print(a.count(1))
print(a.count(2))

2
2
2
2
1

In [ ]:
# 结论： count不区分True和1，False和0

# 从列表 [True,1,0,‘x’,None,‘x’,False,2,True] 中删除元素‘x’。

In [29]:
a =  [True,1,0,'x',None,'x',False,2,True]
while True:
    try:
        a.remove('x')
    except ValueError:
        break
print(a)

[True, 1, 0, None, False, 2, True]

# 从列表 [True,1,0,‘x’,None,‘x’,False,2,True] 中删除索引号为4的元素。

In [34]:
a =  [True,1,0,'x',None,'x',False,2,True]
a.pop(4)
print(a)

[True, 1, 0, 'x', 'x', False, 2, True]

# 删除列表中索引号为奇数（或偶数）的元素。

In [46]:
a = [True,1,0,'x',None,'x',False,2,True]
print("原始列表是：")
print(a)
indx = list(range(1,len(a),2))
indx.reverse()
for k in indx:
    a.pop(k)
print("删除索引号为奇数的元素后：")
print(a)

原始列表是：
[True, 1, 0, 'x', None, 'x', False, 2, True]
删除索引号为奇数的元素后：
[True, 0, None, False, True]

# 清空列表中的所有元素。

In [47]:
a = [True,1,0,'x',None,'x',False,2,True]
a.clear()
a

[]

# 对列表 [3,0,8,5,7] 分别做升序和降序排列。

In [48]:
a = [3,0,8,5,7]
a.sort()
print("升序排序结果：")
print(a)

a = [3,0,8,5,7]
a.sort(reverse=True)
print("降序排序结果：")
print(a)

升序排序结果：
[0, 3, 5, 7, 8]
降序排序结果：
[8, 7, 5, 3, 0]

In [53]:
a = [3,0,8,5,7]
b = sorted(a)
print("升序排序结果：")
print(b)

c = sorted(a,reverse=True)
print("降序排序结果：")
print(c)

print("原始列表：")
print(a)

升序排序结果：
[0, 3, 5, 7, 8]
降序排序结果：
[8, 7, 5, 3, 0]
元素列表：
[3, 0, 8, 5, 7]

# 将列表 [3,0,8,5,7] 中大于 5 元素置为1，其余元素置为0

In [54]:
a = [3,0,8,5,7]
for i in range(len(a)):
    if a[i] > 5:
        a[i] = 1
    else:
        a[i] = 0
print(a)

[0, 0, 1, 0, 1]

# 遍历列表 [‘x’,‘y’,‘z’]，打印每一个元素及其对应的索引号。

In [56]:
a = ['x','y','z']
for i in range(len(a)):
    print("{} --> {}".format(a[i],i))

x --> 0
y --> 1
z --> 2

# 将列表 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 拆分为奇数组和偶数组两个列表。

In [57]:
a = [0,1,2,3,4,5,6,7,8,9]
even,odd = [],[]
for e in a:
    if e%2 == 1:
        odd.append(e)
    else:
        even.append(e)
print("奇数组：")
print(odd)
print("偶数组：")
print(even)

奇数组：
[1, 3, 5, 7, 9]
偶数组：
[0, 2, 4, 6, 8]

# 分别根据每一行的首元素和尾元素大小对二维列表 [[6, 5], [3, 7], [2, 8]] 排序。

In [58]:
a = [[6, 5], [3, 7], [2, 8]]
b = sorted(a, key=lambda x: x[0])
print("按每一行首元素大小对二维列表排序：")
print(b)
c = sorted(a, key = lambda x: x[-1])
print("按每一行尾元素大小对二维列表排序：")
print(c)

按每一行首元素大小对二维列表排序：
[[2, 8], [3, 7], [6, 5]]
按每一行尾元素大小对二维列表排序：
[[6, 5], [3, 7], [2, 8]]

# 从列表 [1,4,7,2,5,8] 索引为3的位置开始，依次插入列表 [‘x’,‘y’,‘z’] 的所有元素。

In [60]:
a = [1,4,7,2,5,8]
b = ['x','y','z']
i = 3
for e in b:
    a.insert(i,e)
    i += 1
a

[1, 4, 7, 'x', 'y', 'z', 2, 5, 8]

# 快速生成由 [5,50) 区间内的整数组成的列表。

In [61]:
a = list(range(5,50))

# 若 a = [1,2,3]，令 b = a，执行 b[0] = 9， a[0]亦被改变。为何？如何避免？

In [64]:
# 原因：b和a指向同一个内存区域
# 避免的方法，使用copy()函数
a = [1,2,3]
b = a.copy()
b[0] = 9
a

[1, 2, 3]

# 将列表 [‘x’,‘y’,‘z’] 和 [1,2,3] 转成 [(‘x’,1),(‘y’,2),(‘z’,3)] 的形式。

In [65]:
a = ['x','y','z']
b = [1,2,3]
c = list(zip(a,b))

# 以列表形式返回字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21} 中所有的键。

In [70]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
ls = list(d.keys())
print(ls)

['Alice', 'Beth', 'Cecil']

# 以列表形式返回字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21} 中所有的值。

In [71]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
ls = list(d.values())
print(ls)

[20, 18, 21]

# 以列表形式返回字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21} 中所有键值对组成的元组。

In [72]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
ls = list(d.items())
print(ls)

[('Alice', 20), ('Beth', 18), ('Cecil', 21)]

# 向字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21} 中追加 ‘David’:19 键值对，更新Cecil的值为17。

In [75]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
d['David'] = 19
d['Cecil'] = 17
d

{'Alice': 20, 'Beth': 18, 'Cecil': 17, 'David': 19}

# 删除字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21} 中的Beth键后，清空该字典。

In [77]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
del d['Beth']
print(d)
d.clear()
print(d)

{'Alice': 20, 'Cecil': 21}
{}

# 判断 David 和 Alice 是否在字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21} 中。

In [78]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
'David' in d

False

In [79]:
'Alice' in d

True

# 遍历字典 {‘Alice’: 20, ‘Beth’: 18, ‘Cecil’: 21}，打印键值对。

In [80]:
d = {'Alice': 20, 'Beth': 18, 'Cecil': 21}
for k in d.keys():
    print("{}:{}".format(k,d[k]))

Alice:20
Beth:18
Cecil:21

# 若 a = dict()，令 b = a，执行 b.update({‘x’:1})， a亦被改变。为何？如何避免？

In [87]:
a = dict()
b = a.copy()
b.update({'x':1})
b

{'x': 1}

# 以列表 [‘A’,‘B’,‘C’,‘D’,‘E’,‘F’,‘G’,‘H’] 中的每一个元素为键，默认值都是0，创建一个字典。

In [89]:
ls = ['A','B','C','D','E','F','G','H']
d = {}
for k in ls:
    d[k] = 0
d

{'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0, 'H': 0}

# 将二维结构 [[‘a’,1],[‘b’,2]] 和 ((‘x’,3),(‘y’,4)) 转成字典。

In [90]:
a = [['a',1],['b',2]]
b = (('x',3),('y',4))
d1 = dict(a)
d2 = dict(b)
print(d1)
print(d2)

{'a': 1, 'b': 2}
{'x': 3, 'y': 4}

# 将元组 (1,2) 和 (3,4) 合并成一个元组。

In [91]:
a = (1,2)
b = (3,4)
c = a + b
c

(1, 2, 3, 4)

# 将空间坐标元组 (1,2,3) 的三个元素解包对应到变量 x,y,z。

In [92]:
t = (1,2,3)
x,y,z = t
print(x,y,z)

1 2 3

# 返回元组 (‘Alice’,‘Beth’,‘Cecil’) 中 ‘Cecil’ 元素的索引号。

In [93]:
t = ('Alice', 'Beth', 'Cecil')
print(t.index('Cecil'))

2

# 返回元组 (2,5,3,2,4) 中元素 2 的个数。

In [94]:
a = (2,5,3,2,4)
a.count(2)

2

# 判断 ‘Cecil’ 是否在元组 (‘Alice’,‘Beth’,‘Cecil’) 中。

In [95]:
a = ('Alice', 'Beth', 'Cecil')
'Cecil' in a

True

# 返回在元组 (2,5,3,7) 索引号为2的位置插入元素 9 之后的新元组。

In [98]:
t = (2,5,3,7)
ls = list(t)
ls.insert(2,9)
t = tuple(ls)
ls

[2, 5, 9, 3, 7]

# 创建一个空集合，增加 {‘x’,‘y’,‘z’} 三个元素。

In [101]:
s = set()
s.add('x')
s.add('y')
s.add('z')
s

{'x', 'y', 'z'}

# 删除集合 {‘x’,‘y’,‘z’} 中的 ‘z’ 元素，增加元素 ‘w’，然后清空整个集合。

In [104]:
s = {'x','y','z'}
s.remove('z')
s.add('w')
s.clear()
s

set()

# 返回集合 {‘A’,‘D’,‘B’} 中未出现在集合 {‘D’,‘E’,‘C’} 中的元素（差集）。

In [118]:
s1 = {'A','D','B'}
s2 = {'D','E','C'}
s3 = s1 - s2
print(s3)

{'A', 'B'}

In [111]:
s3 = s1.difference(s2)
s3

{'A', 'B'}

# 返回两个集合 {‘A’,‘D’,‘B’} 和 {‘D’,‘E’,‘C’} 的并集。

In [108]:
s1 = {'A','D','B'}
s2 = {'D','E','C'}
s3 = s1.union(s2)
s3

{'A', 'B', 'C', 'D', 'E'}

In [110]:
s3 = s1 | s2
s3

{'A', 'B', 'C', 'D', 'E'}

# 返回两个集合 {‘A’,‘D’,‘B’} 和 {‘D’,‘E’,‘C’} 的交集。

In [112]:
s1 = {'A','D','B'}
s2 = {'D','E','C'}
s3 = s1.intersection(s2)
s3

{'D'}

In [114]:
s3 = s1 & s2
s3

{'D'}

# 返回两个集合 {‘A’,‘D’,‘B’} 和 {‘D’,‘E’,‘C’} 未重复的元素的集合。

In [119]:
s1 = {'A','D','B'}
s2 = {'D','E','C'}
s3 = s1 ^ s2 
print(s3)

{'B', 'E', 'C', 'A'}

# 判断两个集合 {‘A’,‘D’,‘B’} 和 {‘D’,‘E’,‘C’} 是否有重复元素。

In [121]:
s1 = {'A','D','B'}
s2 = {'D','E','C'}
if not s1.isdisjoint(s2):
    print("两个集合没有重复元素")
else:
    print("两个集合有重复元素")

两个集合没有重复元素

# 判断集合{‘A’,‘C’} 是否是集合 {‘D’,‘E’,‘C’,‘A’}的子集

In [1]:
s1 = {'A','C'}
s2 = {'D','E','C','A'}
s1 < s2

True

# 去除数组 [1,2,5,2,3,4,5,‘x’,4,‘x’] 中的重复元素。

In [3]:
ls = [1,2,5,2,3,4,5,'x',4,'x']
s = set(ls)
ls = list(s)
print(ls)

[1, 2, 3, 4, 5, 'x']

# 返回字符串 ‘abCdEfg’ 的全部大写、全部小写和大下写互换形式。

In [12]:
s = 'abCdEfg'
#全部大写
s1 = s.upper()
print(s1)
#全部小写
s2 = s.lower()
print(s2)
#原字符串中大写变小写，小写变大写
s3 = []
for e in s:
    if ord(e)>=65 and ord(e)<=90:#'A’的ASCII码是65，'Z'
        s3.append( chr(ord(e) + 32))
    else:
        s3.append( chr(ord(e) - 32))
print("".join(s3))# 把列表s3连接成一个字符串

ABCDEFG
abcdefg
ABcDeFG

# 判断字符串 ‘abCdEfg’ 是否首字母大写，字母是否全部小写，字母是否全部大写。

In [14]:
s = 'abCdEfg'
#判断首字母是否大写
print(s[0].isupper())
# 判断字母是否全部小写
print(s.islower())
#判断字母是否全部大写
print(s.isupper())

False
False
False

# 返回字符串 ‘this is python’ 首字母大写以及字符串内每个单词首字母大写形式。

In [20]:
s = 'this is  python'
t = []
flag = 0
for e in s:
    if e == " ":
        flag = 0
    else:
        flag = flag + 1
    if flag == 1:
        t.append(e.upper())
    else:
        t.append(e)
t = "".join(t)        
print(t)

This Is  Python

# 判断字符串 ‘this is python’ 是否以 ‘this’ 开头，又是否以 ‘python’ 结尾。

In [22]:
s = 'this is python'
if s.startswith('this'):
    print("{} 以'this'开头".format(s))
else:
    print("{} 不以'this'开头".format(s))
if s.endswith('python'):
    print("{} 以'python'结尾".format(s))
else:
    print("{} 不以'python'结尾".format(s))

this is python 以'this'开头
this is python 以'python'结尾

# 返回字符串 ‘this is python’ 中 ‘is’ 的出现次数。

In [24]:
s = 'this is python'
t = s.count('is')
print("'{}' 在 '{}' 中出现{}次".format('is',s,t))

'is' 在 'this is python' 中出现2次

# 返回字符串 ‘this is python’ 中 ‘is’ 首次出现和最后一次出现的位置。

In [27]:
s = 'this is python'
f = s.index('is')
r = f
while True:
    try:
        j = s.index('is',r+2)
        r = j
    except ValueError:
        break
print("'is' 首次出现在{},最后一次出现在{}".format(f,r))

'is' 首次出现在2,最后一次出现在5

In [2]:
s = 'this is python'
f = s.index('is')
r = s.rindex('is')
print("'is' 首次出现在{},最后一次出现在{}".format(f,r) )

'is' 首次出现在2,最后一次出现在5

# 将字符串 ‘this is python’ 切片成3个单词。

In [28]:
s = "this is python"
s.split(" ")

['this', 'is', 'python']

# 返回字符串 ‘blog.csdn.net/xufive/article/details/102946961’ 按路径分隔符切片的结果。

In [31]:
s = 'blog.csdn.net/xufive/article/details/102946961'
s.split("/")

['blog.csdn.net', 'xufive', 'article', 'details', '102946961']

# 将字符串 ‘2.72, 5, 7, 3.14’ 以半角逗号切片后，再将各个元素转成浮点型或整形。

In [34]:
s = '2.72,5,7,3.14'
ls = s.split(',')
for i in range(len(ls)):
    ls[i] = eval(ls[i])
ls

[2.72, 5, 7, 3.14]

# 判断字符串 ‘adS12K56’ 是否完全为字母数字，是否全为数字，是否全为字母，是否全为ASCII码。

In [37]:
s = 'adS12K56'
if s.isalnum():
    print("{} 全为字母数字".format(s))
else:
    print("{} 不全为字母数字".format(s))

if s.isnumeric():
    print("{} 全为数字".format(s))
else:
    print("{} 不全为数字".format(s))

if s.isalpha():
    print("{} 全为字母".format(s))
else:
    print("{} 不全为字母".format(s))

adS12K56 全为字母数字
adS12K56 不全为数字
adS12K56 不全为字母

# 将字符串 ‘there is python’ 中的 ‘is’ 替换为 ‘are’。

In [38]:
s = "there is python"
s.replace("is","are")

'there are python'

# 清除字符串 ‘\t python \n’ 左侧、右侧，以及左右两侧的空白字符。

In [5]:
s = '\t python \n'
print("清除左侧空白字符后： {}".format(s.lstrip()))
print("清除右侧空白字符后： {}".format(s.rstrip()))
print("清除左右两侧空白字符后： {}".format(s.strip()))

清除左侧空白字符后： python

清除右侧空白字符后： 	 python
清除左右两侧空白字符后： python

# 将三个全英文字符串（比如，‘ok’, ‘hello’, ‘thank you’）分行打印，实现左对齐、右对齐和居中对齐效果。

In [6]:
print("{:>20}".format('ok'))
print("{:<20}".format('hello'))
print("{:^20}".format('thank you'))

                  ok
hello
     thank you

# 将三个字符串（比如，‘Hello, 我是David’, ‘OK, 好’, ‘很高兴认识你’）分行打印，实现左对齐、右对齐和居中效果。

In [7]:
print("{:>20}".format('Hello,我是David'))
print("{:<20}".format('OK,好'))
print("{:^20}".format('很高兴认识你'))

       Hello,我是David
OK,好
       很高兴认识你

# 将三个字符串 ‘15’, ‘127’, ‘65535’ 左侧补0成同样长度。

In [8]:
for s in ['15','127','65535']:
    print("{:0>5}".format(s))

00015
00127
65535

# 提取 url 字符串 ‘https://blog.csdn.net/xufive’ 中的协议名。

In [9]:
s = 'https://blog.csdn.net/xufive'
i = s.index(":")
print("协议名是：{}".format(s[:i]))

协议名是：https

# 将列表 [‘a’,‘b’,‘c’] 中各个元素用’|'连接成一个字符串。

In [10]:
ls = ['a','b','c']
s = "|".join(ls)
print(s)

a|b|c

# 将字符串 ‘abc’ 相邻的两个字母之间加上半角逗号，生成新的字符串。

In [11]:
s = 'abc'
s2 = ",".join(list(s))
print(s2)

a,b,c

# 从键盘输入手机号码，输出形如 ‘Mobile: 186 6677 7788’ 的字符串。

In [12]:
s = input("请输入手机号码：")
print("Mobile:{}".format(s))

请输入手机号码：15179834830
Mobile:15179834830

# 从键盘输入年月日时分秒，输出形如 ‘2019-05-01 12:00:00’ 的字符串。

In [17]:
time = input("请输入年月日时分秒，以空格隔开")
lt = time.split(" ")
print("{}-{:0>2}-{:0>2} {:0>2}:{:0>2}:{:0>2}".format(*lt))

请输入年月日时分秒，以空格隔开2019 5 1 12 0 0
2019-05-01 12:00:00

In [20]:
import datetime
time = input("请输入年月日时分秒，以空格隔开")
lt = []
for s in time.split(" "):
    lt.append(eval(s))
d = datetime.datetime(*lt)
print('{:%Y-%m-%d %H:%M:%S}'.format(d))

请输入年月日时分秒，以空格隔开2019 5 1 12 0 0
2019-05-01 12:00:00

# 给定两个浮点数 3.1415926 和 2.7182818，格式化输出字符串 ‘pi = 3.1416, e = 2.7183’。

In [21]:
f1 = 3.1415926
f2 = 2.7182818
print("pi={:.4f}, e={:.4f}".format(f1,f2))

pi=3.1416, e=2.7183

# 将 0.00774592 和 356800000 格式化输出为科学计数法字符串。

In [27]:
"{:e}, {:e}".format(0.00774592, 356800000)

'7.745920e-03, 3.568000e+08'

# 将十进制整数 240 格式化为八进制和十六进制的字符串。

In [30]:
"{0:o}, {0:x}".format(240)

'360, f0'

# 将十进制整数 240 转为二进制、八进制、十六进制的字符串。

In [31]:
"{0:b},{0:o},{0:x}".format(240)

'11110000,360,f0'

In [32]:
bin(240)

'0b11110000'

In [35]:
oct(240)

'0o360'

In [33]:
hex(240)

'0xf0'

In [38]:
format(240,'b'),format(240,'o'),format(240,'x')

('11110000', '360', 'f0')

# 将字符串 ‘10100’ 按照二进制、八进制、十进制、十六进制转为整数。